@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');

.logo {
  font-size: 18px;
  font-weight: bold;
}

/* .title {
  font-family: 'Kaisei Opti', serif;
  font-size: 4vw;
  font-weight: bold;
  margin: 20px 0;
  color: #007acc;
}

.subtitle {
  font-size: 2vw;
  color: #555;
  margin-bottom: 20px;
}

.exploreButton {
  background-color: #007acc;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

body {
    font-family: 'Kaisei Opti', serif;
    margin: 0;
    padding: 0;
    background-color: #5fa2cf;
    overflow-x: hidden;
    color: white;
}
