.background {
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: auto;
}

.menuButton {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  padding: 0;
}

.bar {
  background-color: #333;
  height: 3px;
  width: 100%;
  transition: all 0.3s ease;
  border-radius: 2px;
}

/* --- -> x */
.menuButton.open .bar:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: top left;
  background-color: #007acc;
}

.menuButton.open .bar:nth-child(2) {
  opacity: 0;
}

.menuButton.open .bar:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: bottom left;
  background-color: #007acc;
}

.menu {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 1px solid #ddd;
  padding: 20px 0;
  text-align: center;
  z-index: 10;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu li {
  font-family: 'Kaisei Opti', serif;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
  color: #007acc;
  cursor: pointer;
  text-align: center;
}

.menu.open {
  /* display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 0;
  background-color: #ffffff;
  width: 100%;
  padding: 10px; */
  display: block;
}

.main {
  text-align: center;
  margin-top: 0;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.imageWrapper {
  width: 100%;
  height: auto;
  max-width: 345px;
  max-height: 547px;
  margin: 0 auto;
  position: relative;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.textOverlay {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Kaisei Opti', serif;
  text-align: center;
  white-space: nowrap;
}

.title {
  font-size: 55px;
  font-weight: bold;
  line-height: 1.2;
}

.subtitle {
  font-size: 24px;
  white-space: nowrap;
}

.exploreButton {
  font-family: 'Kaisei Opti', serif;
  background-color: #006d7d;
  color: white;
  font-size: 18px;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 50px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.exploreButton:hover {
  background-color: #005662;
}

.mainSection {
  margin-top: 100px;
  text-align: center;
  padding: 20px;
}

.mainSection h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.mainSection p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.imageRow {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.imageContainer_half {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.imageWrapper_half {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
  /* position: relative; */
}

.imageWrapper_half p {
  flex: 1;
  margin-top: 8px;
  font-size: 14px;
}

.imageWrapper_half img {
  flex-shrink: 0;
  width: 50%;
  height: auto;
}

.subSection {
  text-align: center;
  padding: 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.subSection h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.imageContainer_quart {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.imageWrapper_quart {
  flex: 0 1 400px;
  max-width: 100%;
  text-align: center;
}

.imageWrapper_quart img{
  display: block;
  margin: 0 auto;
  width: 60%;
  height: auto;
}

.imageWrapper_quart p{
  margin-top: 0px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.kamoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 10px;
}

.hukidashi {
  /* position: relative; */
  background-color: #e0f4f4;
  color: #000;
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 300px;
  font-size: 14px;
  line-height: 1.5;
}

.hukidashi::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #e0f4f4 transparent transparent;
}


.kamoSection h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.kamoImages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.kamoImages_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hukidashi_2 {
  /* position: relative; */
  background-color: #e0f4f4;
  color: #000;
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 300px;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}

.hukidashi_2::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #e0f4f4;
}

.secondHalfSection {
  text-align: center;
  padding: 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.secondHalfSection h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.secondHalfSection .imageGrid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.thirdSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); */
}

.thirdSection h2 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.infoBox {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 380px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.numberAndHeading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoBox .number {
  font-family: 'Homenaje', sans-serif;
  font-size: 48px;
  font-weight: semibold;
  color: transparent;
  -webkit-text-stroke: 1px #FFFFFF;
  margin: 0px;
  text-align: center;
}

.infoBox h3 {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  display: inline-block;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.infoBox .description {
  font-size: 14px;
  line-height: 1.6;
  color: #FFFFFF;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.fourthSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); */
}

.fourthSection h2 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.stepObject {
  display: flex;
  align-items: center;
  max-width: 400px;
  gap: 15px;
  margin-top: 20px;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.step {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  margin: 0;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.stepNumber {
  font-family: sans-serif;
  font-size: 48px;
  font-weight: semibold;
  color: transparent;
  -webkit-text-stroke: 1px #FFFFFF;
  text-align: center;
  margin: 0;
}

.textContent {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.textContent h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #FFFFFF;
}

.textContent p {
  font-size: 14px;
  line-height: 1.6;
  color: #FFFFFF;
  margin: 0;
}

.zigzagSeparator {
  width: 400px;
  height: 40px;
  background-color: transparent;
  clip-path: polygon(0% 50%, 50% 100%, 100% 50%);
  background-color: white;
}

.fifthSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.fifthSection h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.fifthSection h3 {
  font-size: 18px;
  font-weight: medium;
  margin-top: 30px;
  text-align: center;
}

.nazotokiImage {
  max-width: 100%;
  height: auto;
}

.answerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.answerInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  width: 120px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Kaisei Opti';
  font-weight: bold;
  color: white;
  background-color: #00788c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.submitButton:hover {
  background-color: #005662;
}

.submitButton:active {
  background-color: #00434a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.routeButton {
  display: inline-block;
  width: 380px;
  padding: 10px 20px;
  font-family: 'Kaisei Opti', serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #006d7d;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.routeButton:hover {
  background-color: #005662;
}

.routeButton:active {
  background-color: #00434a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* PCç”¨ */
@media (min-width: 768px) {
  .imageContainer {
    flex-direction: row;
    justify-content: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 20px;
    border-bottom: 1px solid #ddd;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .menu {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: none;
    position: relative;
    top: auto;
    left: auto;
  }

  .menu ul {
    padding: 0 50px;
  }
  
  .menu li {
    display: inline-block;
    margin: 14px;
  }
  
  .menuButton {
    display: none;
  }

  .main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .imageWrapper {
      max-width: none;
      max-height: none;
      margin: auto;
      display: flex;
      width: 100%;
      height: auto;
  }

  .imageWrapper img {
      width: auto;
      height: 80vh;
      object-fit: cover;
      object-position: center;
      border-radius: 8px;
  }

  .textOverlay {
      position: static;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      bottom: auto;
      left: auto;
      transform: none;
      color: inherit;
      white-space: normal;
  }

  .title {
      font-size: 108px;
      font-weight: bold;
      line-height: 1.2;
  }

  .subtitle {
      font-size: 48px;
      margin-bottom: 10px;
  }

  .exploreButton {
      font-family: 'Kaisei Opti', serif;
      background-color: #00788c;
      color: white;
      font-size: 36px;
      padding: 10px 72px;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      margin-top: 48px;
      text-align: center;
      transition: background-color 0.3s ease;
  }

  .exploreButton:hover {
      background-color: #005662;
  }
}

.logoImage {
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.nav a {
  text-decoration: none;
  color: #f9f9f9;
  padding: 8px;
  display: block;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.nav a:hover {
  background: #f9f9f9;
  color: #00788C;
}

.nav {
  overflow: hidden;
  background: #00788C;
  margin-bottom: 30px;
}

.pcNav {
  width: 100%;
  margin: 0 auto;
}

.pcNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pcNav ul li {
  margin: 0 32px;
}

.navContent {
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 30px;
  z-index: 2;
  margin-top: 30px;
}

.navList {
  list-style: none;
}

.navContent p {
  font-size: 24px;
  font-weight: bold;
}

.sp {
  display: none;
}

@media not all and (min-width: 768px) {
  .sp {
    display: block;
  }
  .navContent {
    margin-top: 0px;
    padding-right: 40px;
  }
  .navList {
    margin-top: 100px;
  }
}

@media screen and (min-width: 768px) {
  .spNav {
    display: none;
  }
}

.firstView {
  background-image: url(https://web.sfc.keio.ac.jp/~t22934mw/wpx/wp-content/uploads/2024/12/SFCBackGround.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.firstView .exploretitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.exploretitle h2 {
  font-family: 'Kaisei Opti';
  margin: 10px;
  color: #F0F0F0;
  font-size: 64px;
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
  padding-bottom: 7px;
  text-shadow: 1px 2px 3px #808080;
}

.exploretitle h1 {
  font-family: 'Kaisei Opti';
  color: #F0F0F0;
  font-size: 128px;
  text-shadow: 1px 2px 3px #808080;
  margin: 30px;
}

.exploretitle p {
  font-family: 'Kaisei Opti';
  color: #F0F0F0;
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.mapImage {
  width: 60%;
  height: auto;
}

.quiz {
  width: 720px;
  height: 476px;
  margin: auto;
  margin-bottom: 20px;
}

.quizImage {
  text-align: center;
  width: 720px;
  height: 476px;
  margin: auto;
  margin-bottom: 20px;
}

.key {
  color: #fcf923;
}

.quizContainer {
  margin: auto;
  align-items: center;
  background: #91CEFA;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quizContainer h2 {
  font-size: 36px;
  color: #f9f9f9;
  text-align: center;
  margin-bottom: 20px;
}

.quizContainer p {
  font-size: 24px;
  color: #f9f9f9;
  text-align: center;
  margin-bottom: 20px;
}

.quizImage img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.quizOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quizOptions label {
  margin-left: 20%;
  margin-right: 20%;
  color: #f9f9f9;
  text-align: center;
  background-color: #00788C;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.quizOptions input[type='radio'] {
  display: none;
}

.quizOptions label:hover {
  background-color: #40A8C4;
  color: #f9f9f9;
}

.imageSrc {
  width: 90vw;
  height: auto;
}

.feedback {
  width: 100%;
  margin-top: 20px;
  visibility: hidden;
  text-align: center;
  font-size: 18px;
}

.feedback.show {
  visibility: visible;
}

.feedbackCorrect {
  color: green;
}

.feedbackCorrect img {
  width: 400px;
  height: auto;
}

.feedbackImage {
  width: 90vw;
  height: auto;
}

.feedbackIncorrect {
  color: red;
}

.drawerHidden {
  display: none;
}

.drawerOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.drawerOpen span,
.drawerOpen span:before,
.drawerOpen span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  left: 0px;
  border-radius: 3px;
  background: #000000;
  transition: 0.5s;
  position: absolute;
}

.drawerOpen span:before {
  bottom: 8px;
}

.drawerOpen span:after {
  top: 8px;
}

#drawerInput:checked ~ .drawerOpen span {
  background: rgba(255, 255, 255, 0);
}

#drawerInput:checked ~ .drawerOpen span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawerInput:checked ~ .drawerOpen span::after {
  top: 0;
  transform: rotate(-45deg);
}

.navContent {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99;
  background: #367d8fb3;
  transition: 0.5s;
  text-align: center;
  padding-top: 20px;
}

#drawerInput:checked ~ .navContent {
  left: 0;
}

.quizLabel {
  margin-left: 20%;
  margin-right: 20%;
  color: #f9f9f9;
  text-align: center;
  background-color: #00788C;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.selectedLabel {
  background-color: #40A8C4;
  color: #f9f9f9;
}

.quizImage {
  width: 100%;
  height: auto;
}

.quizImage img {
  width: 360px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .spNav,
  .drawerHidden,
  .drawerOpen,
  .navContent {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .quizContainer h2 {
    font-size: 24px;
  }

  .quizContainer p {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .pcNav {
    display: none;
  }

  .exploretitle h2 {
    margin-top: 20px;
    color: #F0F0F0;
    font-size: 32px;
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
    padding-bottom: 7px;
    text-shadow: 1px 2px 3px #808080;
  }

  .exploretitle h1 {
    font-family: 'Kaisei Opti';
    color: #F0F0F0;
    font-size: 48px;
    text-shadow: 1px 2px 3px #808080;
    margin-top: 20px;
  }

  .exploretitle p {
    font-family: 'Kaisei Opti';
    color: #F0F0F0;
    font-size: 24px;
    margin-bottom: 50px;
  }

  .mapImage {
    width: 360px;
    height: auto;
  }

  .quiz {
    width: 360px;
    height: auto;
  }


}